.popup__profession {
    font-family: 'Inter';
    font-weight: 400;
    width: 358px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 30px;
    padding-bottom: 13px;
    line-height: 14px;
}

@media screen and (max-width: 520px) {
    .popup__profession {
        width: 238px;
    }
}